.account-page {
  padding: 2rem;
}

.account-page-section {
  border: solid 1px #233748;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.account-page-section div,
.account-page-section button {
  display: flex;
  color: #233748;
  background-color: transparent;
  width: 100%;
  border: solid 1px rgba(35, 55, 72, 0.3137254902);
}
.account-page-section div span,
.account-page-section button span {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.3rem;
}
.account-page-section div {
  padding: 1rem;
  align-items: center;
}
.account-page-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.account-page-drawer button {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
}
.account-page-drawer button span {
  flex: 1;
  text-align: left;
}
.account-page-drawer button .chevron {
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.account-page-drawer button .rotate {
  transform: rotate(0);
}
@keyframes collapseUsernameForm {
  from {
    transform-origin: top;
    transform: scale(1);
    height: 120px;
  }
  to {
    transform-origin: top;
    transform: scale(1, 0);
    height: 0px;
  }
}
@keyframes openUsernameForm {
  from {
    transform-origin: top;
    transform: scale(1, 0);
    height: 0px;
  }
  to {
    transform-origin: top;
    transform: scale(1);
    height: 120px;
  }
}
@keyframes collapsePasswordForm {
  from {
    transform-origin: top;
    transform: scale(1);
    height: 280px;
  }
  to {
    transform-origin: top;
    transform: scale(1, 0);
    height: 0px;
  }
}
@keyframes openPasswordForm {
  from {
    transform-origin: top;
    transform: scale(1, 0);
    height: 0px;
  }
  to {
    transform-origin: top;
    transform: scale(1);
    height: 280px;
  }
}
.account-page-drawer .account-username-form {
  animation: openUsernameForm 0.3s linear forwards;
}
.account-page-drawer .account-username-form.hide-drawer {
  animation: collapseUsernameForm 0.3s linear forwards;
}
.account-page-drawer .account-password-form {
  animation: openPasswordForm 0.3s linear forwards;
}
.account-page-drawer .account-password-form.hide-drawer {
  animation: collapsePasswordForm 0.3s linear forwards;
}
.account-page-drawer form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-page-drawer form div {
  border: none;
}
.account-page-drawer form button {
  background-color: #aee0e7;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 700;
}

.account-form-input {
  display: flex;
  flex-direction: column;
}
.account-form-input div {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-form-input span {
  color: red;
  font-weight: 300;
}
.account-form-input label {
  align-self: start;
}
.account-form-input input {
  padding: 0.3rem;
  font-size: 1rem;
}
.account-form-input .icon {
  margin: 0 0.5rem;
}/*# sourceMappingURL=AccountPage.css.map */