@import "./Variables.scss";

.homepage {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 36px 0;
    font-size: 48px;
    font-family: "Pacifico", cursive;
  }

  .nav-list {
    height: 100vh;
    padding-top: 3rem;
    margin-top: 0;
    justify-content: flex-start;

    background-image: url("../Assets/pizza-background.webp");
    background-size: cover;
  }

  .nav-item:link,
  .nav-item:visited {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    font-size: 24px;
    background: #ffffffb0;
    border-radius: 30px;
    width: 70%;
    margin-bottom: 12px;
  }

  .nav-item:visited:hover,
  .nav-item:link:hover {
    background-color: $blue;
  }

  .nav-item:visited {
    color: $text-color;
  }
}

.homepage-default {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: revert;
  }

  h2 {
    font-weight: 500;
    line-height: 1rem;
  }

  p {
    font-weight: 300;
    line-height: 1.5rem;
  }

  .nav-item:visited,
  .nav-item:link {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: $blue;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.4s ease;
  }

  .nav-item:visited:hover,
  .nav-item:link:hover {
    background-color: #77ebfa;
  }
}

.homepage-star-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-stars {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.homepage-star {
  color: gold;
}

.homepage-subtext {
  font-size: 0.8rem;
  color: #23374886;
}

// @media screen and (min-width: $breakpoint-small) {
// }

@media screen and (min-width: $breakpoint-medium) {
  .homepage {
    .nav-item:link,
    .nav-item:visited {
      max-width: 50%;
    }
  }
}

// @media screen and (min-width: $breakpoint-large) {
// }

// @media screen and (min-width: $breakpoint-xlarge) {
// }
