@import "./Variables.scss";

.homepage {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 36px 0;
    font-size: 48px;
    font-family: "Pacifico", cursive;
  }

  .nav-list {
    height: 100vh;
    padding-top: 3rem;
    margin-top: 0;
    justify-content: flex-start;

    background-image: url("../Assets/pizza-background.webp");
    background-size: cover;
  }

  .nav-item:link,
  .nav-item:visited {
    text-decoration: none;
    text-align: center;
    padding: 6px;
    font-size: 24px;
    background: #ffffffb0;
    border-radius: 30px;
    width: 70%;
    margin-bottom: 12px;
    transition: background-color 0.3s ease;
  }

  .nav-item:visited:hover,
  .nav-item:link:hover {
    background-color: $orange;
  }
  .nav-item:link,
  .nav-item:visited {
    color: $text-color;
  }
}

.homepage-default {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: revert;
  }

  h2 {
    font-weight: 500;
    line-height: 1rem;
  }

  p {
    font-weight: 300;
    line-height: 1.5rem;
  }

  .nav-item:visited,
  .nav-item:link {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: $blue;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.4s ease;
  }

  .nav-item:visited:hover,
  .nav-item:link:hover {
    background-color: $orange;
  }
}

.homepage-default-text {
  display: flex;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.homepage-star-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-stars {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.homepage-star {
  color: gold;
}

.homepage-subtext {
  font-size: 0.8rem;
  color: #23374886;
}

.homepage-img-section {
  position: relative;
}

.homepage-img,
.homepage-img-back {
  position: absolute;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 60vw;
  object-fit: cover;
}

.homepage-img {
  // top: 10vh;
  left: 10%;
}

.homepage-img-back {
  top: 10vh;
  left: 30%;
}

@media screen and (min-width: $breakpoint-small) {
  .homepage-img,
  .homepage-img-back {
    width: 40vw;
  }

  .homepage-img {
    left: 15%;
  }
  
  .homepage-img-back {
    left: 45%;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .homepage {
    .nav-item:link,
    .nav-item:visited {
      max-width: 50%;
    }
  }

  .homepage-default {
    flex-direction: row;
  }

  .homepage-default-text {
    display: flex;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    width: 50%;
  }

  .homepage-img,
  .homepage-img-back {
    width: 25vw;
  }

  .homepage-img {
    top: 10vh;
    left: 10vw;
  }

  .homepage-img-back {
    top: 15vh;
    left: 20vw;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .homepage-img,
  .homepage-img-back {
    width: 20vw;
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .homepage-img,
  .homepage-img-back {
    width: 15vw;
  }
}
