.login-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 2rem 0;
    font-weight: 600;
    font-size: 48px;
  }

  button {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    background-color: #15aabf;
    border-radius: 20px;
    border: solid 1px #15aabf;

    font-weight: 600;
    color: white;
    text-transform: uppercase;
  }

  button:hover {
    cursor: pointer;
    background-color: #15abbfb4;
  }
}

.login-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  background-image: url("../Assets/apple-background.webp");
  background-size: cover;
  opacity: 0.85;
  z-index: -1;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80%;

  label {
    margin-bottom: 0.5rem;
  }

  input {
    padding: 0.5rem;
    border: solid 1px rgb(143, 143, 143);
    border-radius: 5px;
  }
}

.login-link:link,
.login-form:visited {
  text-decoration: none;
  color: #4263eb;
}
