.recipe {
  background-color: grey;

  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

.recipe-info {
  background-color: black;
  color: white;
  padding: 16px;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
  }
}

.recipe-edit-icon,
.recipe-delete-icon {
  padding: 4px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 8px;
  font-size: 24px;
}

.recipe-edit-icon {
  right: 8px;
}

.recipe-delete-icon {
  border: none;
  background-color: transparent;
  left: 8px;
}

.recipe-info-subtitles {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 12px;
}

.recipe-info-spec {
  display: flex;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
}

.recipe-description {
  text-align: center;
  margin-bottom: 12px;
}

.recipe-ingredients {
  h2 {
    padding: 12px;
    text-align: center;
  }

  li {
    padding: 12px;
    color: white;
    background-color: #303030;
  }

  li:nth-child(odd) {
    background-color: #282828;
  }

  span {
    font-weight: bolder;
  }
}

.recipe-directions {
  h2 {
    padding: 12px;
    text-align: center;
  }

  li {
    padding: 12px;
    color: white;
    background-color: #303030;
    display: flex;
    align-items: center;
  }

  li:nth-child(odd) {
    background-color: #282828;
  }
}

.recipe-direction-index {
  font-weight: bolder;
  font-size: 20px;
  margin-right: 16px;
}
