.recipe-thumbnail {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  text-decoration: none;

  img {
    width: 30%;
    border-radius: 10%;
    margin-right: 12px;
  }
}
.recipe-thumbnail:link {
  color: whitesmoke;
}
.recipe-thumbnail:visited {
  color: whitesmoke;
}

.recipe-thumbnail-info {
}

.recipe-thumbnail-info-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
