@import "./Variables.scss";

.recipe-thumbnail {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  text-decoration: none;
  transform-origin: top;
  height: 15vh;
  transition: box-shadow 0.3s ease, height 0.3s ease;

  img {
    min-width: 15vh;
    max-width: 15vh;
    border-radius: 10px;
    margin-right: 12px;
    height: 90%;
    object-fit: cover;
  }

  h1 {
    font-size: 16px;
    font-weight: 500;
  }
}

.recipe-thumbnail:link,
.recipe-thumbnail:visited {
  color: $text-color;
}

.recipe-thumbnail-info-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}

// @media screen and (min-width: $breakpoint-small) {
// }

// @media screen and (min-width: $breakpoint-medium) {
// }

@media screen and (min-width: $breakpoint-large) {
  .recipe-thumbnail:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    height: 30vh;

    img {
      min-width: 30vh;
      max-width: 30vh;
    }
  }
}

// @media screen and (min-width: $breakpoint-xlarge) {
// }
