.recipe-thumbnail {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  text-decoration: none;

  img {
    min-width: 25%;
    max-width: 25%;
    border-radius: 10%;
    margin-right: 12px;
    height: 5.5rem;
    object-fit: cover;
  }
  
  h1 {
    font-size: 16px;
    font-weight: 500;
  }
}

.recipe-thumbnail:link,
.recipe-thumbnail:visited {
  color: black;
}

.recipe-thumbnail-info-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
}
