.recipe-form {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.recipe-carousel {
  display: flex;
  overflow: auto;
  flex: 1;
  flex-flow: row nowrap;
  width: 100%;
  scroll-snap-type: x mandatory;

  section {
    min-width: 100%;
    scroll-snap-align: center;
  }
}

.recipe-form-err {
  color: red;
  font-size: 14px;
  margin-left: 6px;
  font-weight: 300;
}

.recipe-input-div {
  display: flex;
  flex-direction: column;
  padding: 10px;

  label {
    margin-bottom: 4px;
  }

  input {
    padding: 10px;
    border-radius: 10px;
  }
}

.recipe-tags {
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem
  }

  button {
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .add-tag {
    background-color: white;
    border: solid 1px black;
    color: black;
  }

  .remove-tag {
    background-color: black;
    border: solid 1px black;
    color: white;
  }
}

.recipe-form-ingredients,
.recipe-form-directions {
  h1 {
    text-align: center;
    padding: 24px 0;
  }

  li:nth-child(odd) {
    background-color: rgba(174, 224, 231, 0.3019607843);
  }

  li:last-child {
    border-bottom: solid 1px rgba(174, 224, 231);
  }
}

.recipe-form-ingredient-delete,
.recipe-form-direction-delete {
  position: absolute;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-form-move-btns {
  display: flex;
  gap: 6px;

  button {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;

    svg {
      stroke-width: 2px;
    }
  }

  button:active {
    background-color: bisque;
  }
}

.recipe-form-ingredient {
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    padding: 10px;
    border-radius: 7px;
    border: solid 1px black;
  }

  .recipe-form-ingredient-input:nth-child(1) {
    width: 30%;
  }
}

.recipe-form-ingredient-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-bottom: 12px;
}

.recipe-form-ingredient-input {
  display: flex;
  flex-direction: column;

  label {
    margin-left: 7px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 300;
  }
}

.recipe-form-ingredient-delete {
  position: absolute;
  right: 0;
  top: 0;
}

.recipe-form-directions {
}

.recipe-form-direction {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;

  h2 {
    margin-bottom: 12px;
  }

  textarea {
    padding: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
    border-radius: 10px;
  }
}

.recipe-form-direction-delete {
  top: 12px;
  right: 12px;
}

.recipe-form-delete-icon {
  height: 24px;
  width: 24px;
}

.recipe-form-add-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;

  button {
    background-color: transparent;
    border: none;

    .icon {
      margin-bottom: 6px;
      height: 32px;
      width: 32px;
    }

    div {
      font-size: 18px;
    }
  }
}

.recipe-form-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;

  button {
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: #aee0e7;
  }
}
