.header {
  position: relative;

  h1 {
    font-size: 16px;
    color: whitesmoke;
  }

  button {
    border: none;
    background-color: transparent;
    color: whitesmoke;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: black;
}

.menu-aside {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: black;
  color: whitesmoke;

  transition: all 0.3s;
  transform: scale(1, 1);
  transform-origin: 100% 50%;
}

.search-aside {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: black;
  color: whitesmoke;

  transition: all 0.3s;
  transform: scale(1, 1);
  transform-origin: 0;
}

.hide-search {
  transform: scale(0, 1);

}


.hide-menu {
  transform: scale(0, 1);
}

